# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/

# Model
*.pth
*.save

# VSCode
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db